body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d6dfe2;
    margin: 0;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px 10px;
    margin: 0 15px;
    border-radius: 5px; /* smooth corners */
    transition: padding 0.2s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav-links li a:hover {
    background-color: #9dbace;
    color: #425c85;
    padding: 12px 12px; /* slightly larger padding */
    transform: scale(1.2); /* subtle grow effect */
}




.search-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 5px;
}

#city-input{
    width: 250px;
    padding: 6px;
    font-size: 0.8rem;
    border: 2px solid #c7a7a7;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button{
    padding: 6px 12px;
    font-size: 1.03rem;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover{
    background-color: #9dbace;
    color: #425c85;
    transform: scale(1.1);
}

.container{
    position: relative;/*weather res and globe are relative to this*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-top: 20px;
}

#globe-container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 900px;
    z-index: 1; /*globe in the back so card can overlap*/
}

#error-message {
    color: #fff;
    background-color: #e74c3c; /* Red background for errors */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none; /* hidden by default, shown if invalid input*/
    text-align: center;
}

#weather-card {
    background: rgba(0, 0, 0, 0.4);/*makes it look transparent- this is not opacity*/
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 20px;
    width: 380px; /* Set a fixed width for a clean look */
    height: 380px;
    color: #fff; /* White text for contrast */
    transition: background 0.1s ease-in-out;
}

#weather-card:hover {
    background: rgba(0, 0, 0, 0.6);/*darker on hover*/
}

#city {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

#clear {
    position: absolute;
    top: 10px;
    right: 10px;/*top right*/
    background: none;
    border: none;
    color: #ffffff;/*color of x*/
    font-size: 2rem;
    height: 10px;
    cursor: pointer;
    line-height: 1;/*vertical alighnmetn*/
    transition: color 0.2s ease-in-out;
}

#clear:hover {
    color: rgb(255, 47, 47);
}

.weather-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);/*two equal cols*/
    gap: 15px 10px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.weather-info li {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.weather-info .label {
    font-weight: 400;
    font-size: 0.8em;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    white-space: nowrap; /* Prevents long labels from wrapping */
}

.weather-info .value {
    font-weight: 600;
    font-size: 1.4em;
    align-items: center;
    line-height: 1.2;
    display: block;
    margin-top: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.weather-info li img {
    position: relative;
}


.profile{
    display: flex;
    align-items: center; /*vertically center the items */
    background-color: #f8fafc;
    padding: 20px; /*some padding for spacing */
    border-radius: 12px;
}

.profile a img { 
    position: relative;
    width: 100px; /*img will be squished into widthxheigt box */
    height: 100px;
    border-radius: 50%; /*makes the box perfectly round .ie. circle*/
    object-fit: cover; /*cover makes the img fill the box(circle)--contain makes entire img fit inside*/
    margin-right: 20px; /*add space between the image and the links */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1);/*so that i can use transition for it*/
    transition: transform 0.1s ease-in-out;
}
.profile a img:hover{
    transform: scale(1.1);/*makes it bigger*/

}

.profile a .link-name {
    position: absolute;
    font-size: 1rem;
    color: #000000;
    font-style: bold;
    border: none;
    background: none;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    pointer-events: none;
}

/*hover over link, text appears*/
.profile a:hover .link-name {
    opacity: 1;
}
.detailed-card {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;/*single row*/
    background: #F5F7FA;
    color: #424242;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.detailed-card li {
    list-style: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.astro-card {
    display: flex;
    flex-direction: row;
    background: #F5F7FA;
    color: #424242;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.astro-card li {
    list-style: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hourly {
    background: #cccecf;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.day-slider-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}


input[type="range"]{ 
    -webkit-appearance: none;
    width: 70%;
    background-color: #7a7575;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 25%;
  background: #67e4b0;
  cursor: pointer;
  transform: scale(1);
  transition: background 0.1s ease-in-out, transform 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  background: #0e7c50; 
  transform: scale(1.2);
}

#today-section {
    display: none;/*completely removes the section, no space taken*/
    transition: opacity 0.5s ease-in-out;
    opacity: 0;/*this hides the content-->just transparent not remove*/
}
#today-section.show {
    display: block;/*so what we do here is by default its removed and transparent*/
    /*apparently because opacity is involved we cant use the error message way*/
    opacity: 1;/*when the slider is chnaged we give it space,add it to doc and then make its content not transparent*/
}
#tommorrow-section {
    display: none;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    margin-top: 1.5rem;
}
#tommorrow-section.show {
    display: block;
    opacity: 1;
}
#day-after-section {
    display: none;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    margin-top: 1.5rem;
}
#day-after-section.show {
    display: block;
    opacity: 1;
}
#forecast-section {
    display: none;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    margin-top: 1.5rem;
}
#forecast-section.show {
    display: block;
    opacity: 1;
}

.date {
    display: none;/*only disp when content loaded*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem; 
    font-weight: bold;
    color: #2d2e30; 
    background: #F5F7FA; 
    padding: 8px 12px;  
    border-radius: 8px; 
    width: 86.5%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}








@media (max-width: 768px) {
    
    .nav-links li a {
        font-size: 1.2rem;
        padding: 10px;
    }
    .detailed-card {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr;/*single row*/
        background: #F5F7FA;
        color: #424242;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .detailed-card li {
        list-style: none;
        font-size: 0.55rem;
        margin: 0;
        padding: 0.3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .astro-card {
        display: flex;
        flex-direction: row;
        background: #F5F7FA;
        color: #424242;
        border-radius: 8px;
        margin-bottom: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .astro-card li {
        list-style: none;
        font-size: 0.7rem;
        margin: 0;
        padding: 0.3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hourly {
        background: #cccecf;
        border-radius: 8px;
        height: 100%;
        width: 100%;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
}